*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size:100%;
  min-height: 100vh;
  background-color: gray;
  font-family: $base-font;
}

.container {
  padding: 0px 10px;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none
}

.btn-favicon {
  max-width: 200px;
  color: black;background: bisque
}